* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  margin: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsla(0, 2%, 11%, 0.957);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
.container {
  display: flex;
  width: 70%;
  height: auto;
  background-color: hsl(0, 4%, 85%);
  font-family: Arial, sans-serif;
  height: auto;
  overflow: hidden;
}
.content {
  height: auto;
  width: 50%;
  display: flex;
  flex: 1 60%;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  color: white;
  font-family: "Inter";
}
.bottom {
  display: flex;
  gap: 30px;
  margin-top: 10px;
  padding-top: 20px;
  justify-content: start;
  font-family: "Inter";
}
.createBtn,
.startBtn {
  background-color: hsla(41, 100%, 58%, 0.84);
  color: white;
  font-weight: bold;

  padding: 12px 24px;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}
h1 {
  font-size: 30px;
  color: hsl(0, 0%, 100%);
  text-align: left;

  letter-spacing: 9px;
}
p {
  color: hsl(0, 100%, 100%);
}
span {
  color: rgb(1, 1, 14);
  font-weight: bold;
  font-size: 30px;
}

.content2 {
  width: 50%;
  flex: 1 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.content2 img {
  max-width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image fits without distortion */
}
h5 {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 12px;
  font-weight: lighter;
  padding-top: 4px;
}
/* For phones */
@media (max-width: 767px) {
  main {
    height: 100vh;
    flex-direction: column;
  }
  .container {
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .content {
    padding: 20px;
    width: 100%;
    gap: 20px;
    flex: 1;
  }
  .content2 {
    flex: 1;
    width: 100%;
    height: auto;
  }
  h1 {
    font-size: 24px;
  }
  .bottom {
    flex-direction: column;
    gap: 10px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 450px) {
  main {
    height: 100vh;
    flex-direction: column;
  }
  .container {
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .content {
    padding: 20px;
    width: 100%;
    gap: 20px;
    flex: 1 1 100%;
    height: auto;
  }
  .content2 {
    display: flex;
    flex: 1 100% 100%;
    width: 100%;
    height: auto;
  }
  h1 {
    font-size: 24px;
  }
  .bottom {
    flex-direction: column;
    gap: 10px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  main {
    height: 100vh;
    flex-direction: column;
  }

  .container {
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .content {
    display: flex;
    padding: 20px;
    width: 100%;
    gap: 20px;
    flex: 2; /* Gives more space to content */
    height: 80%;
  }

  .content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; /* Makes it smaller */
    width: 100%;
    height: 20%;
    background-image: url("../images/image.jpg");
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    font-size: 24px;
  }

  .bottom {
    flex-direction: row;
    gap: 10px;
  }
}
