* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html,
body {
  height: 100%;
  background-color: #3f3c3c;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #3f3c3c;
  padding: 10px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px; /* Adjust based on your needs */
  background-image: url("../images/image.jpg"); /* Ensure this path is correct */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 700px;
  width: 100%;
  position: relative;
  color: rgb(29, 29, 29);
  margin-bottom: 10px;
  text-align: center;
}
.close-header {
  position: absolute;
  width: 30px;
  height: 32px;
  top: 4.29px;
  right: 4px;
  cursor: pointer;
  color: #484848;
}

.close-header i {
  width: 20px;
  height: 24px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  max-width: 100%;
  height: 40px;
  padding: 20px 10px;
  background-color: #fff;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  outline: 1px solid black;
  outline-offset: -4px;
  overflow: hidden;
}

.fa-magnifying-glass {
  color: #484848;
  font-size: 16px;
  cursor: pointer;
}

.mark-search {
  font-size: 16px;
  width: 15px;
  height: 15px;
  color: #484848;
  cursor: pointer;
}

.input-search {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 16px;
  font-size: 14px;
  color: #000;
  width: 100%;
  height: 30px;
}

.input-search::placeholder {
  color: #8c8c8c;
  opacity: 1;
}

.input-search::-ms-input-placeholder {
  color: #acacac;
}

/* Container*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 700px;
  width: 100%;
  text-align: center;
  background: white;
  padding: 20px;
  height: auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.quiz-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: auto;
  width: 100%;
  max-width: 700px;
}

.quiz-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 210px;

  box-shadow: 0 2px 5px rgba(244, 244, 244, 0.139);
}

.quiz-card h3 {
  margin: 0 0 10px;
}

.quiz-card button {
  margin-right: 10px;
}

.play-btn {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.delete-btn {
  background-color: red;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.delete-btn:disabled {
  background-color: gainsboro;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.play-btn:disabled {
  background-color: gainsboro;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #f4f4f4;
  color: #000;
  text-align: center;
  padding: 10px;
  font-size: 14px;

  margin: 0 auto;
  width: 700px;
}

/* Media Query for Tablets & Desktops */
